.index {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  background-color: #001f3f;
  color: white;
  display: table;
  width: 100%;
}

.index .titles {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.index .titles h1 {
  font-weight: 300;
  font-size: 3em;
}

.name {
  font-weight: 500;
  color: #01FF70;
}

.index .links {
  margin-top: 20px;
}

.index .link {
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  margin: 15px;
  font-size: 25px;
  font-weight: 300;
  border-bottom: 1px solid #01FF70;
  border-radius: 20px;
}

.index .link:hover {
  color:#01FF70;
  border-bottom: 3px solid #01FF70;
}
