html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1 {
  margin: 0;
}
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

.App-header {
  background-color: #001b49;
  height: 100%;
  color: white;
  display: table;
  width: 100%;
}

.App-header-text {
  display: table-cell;
  vertical-align: middle;
  height: 400px;
}

.App-header-text h1 {
  font-weight: 300;
  font-size: 3em;
}

.name {
  font-weight: 500;
  color: yellow;
}
